@font-face {
  font-family: "Francois One";
  src: URL("FrancoisOne-Regular.ttf") format("truetype");
}

body {
  font-family: "Francois One", Fallback, sans-serif;
}

.welcome-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background: rgb(255, 218, 185);
  background: linear-gradient(
    54deg,
    rgba(255, 218, 185, 1) 19%,
    rgba(248, 173, 157, 1) 50%,
    rgba(240, 128, 128, 1) 81%
  );
}

.welcome {
  color: #ffdab9;
}

.get-started-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f08080;
  width: 100px;
  padding: 20px 80px 20px 80px;
  border: none;
  box-shadow: inset 0 0 20px #f4978e;
  border-radius: 50%;
  margin-top: 40%;
}

.get-started {
  color: #ffdab9;
  font-size: 20px;
}
