body {
  font-family: "Francois One", sans-serif;
  overflow: hidden;
  padding: 2px;
}

button {
  font-family: "Francois One", sans-serif;
}

a,
a:visited {
  text-decoration: none;
  color: inherit;
}

.welcome-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background: rgb(249, 160, 63);
  background: radial-gradient(
    circle,
    rgba(249, 160, 63, 1) 9%,
    rgba(248, 173, 157, 1) 68%,
    rgba(240, 128, 128, 1) 96%
  );
}

.welcome {
  color: white;
  text-align: center;
}

.get-started-btn {
  display: flex;
  justify-content: center;
  background-color: transparent;
  /* opacity: 0.8; */
  width: 100px;
  padding: 5px 60px 5px 60px;
  border: 1px solid white;
  /* border-radius: 50%; */
}

.get-started {
  color: white;
  font-size: 20px;
  white-space: nowrap;
}

.login-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  /* width: 100vw; */
  background: rgb(249, 160, 63);
  background: radial-gradient(
    circle,
    rgba(249, 160, 63, 1) 9%,
    rgba(248, 173, 157, 1) 68%,
    rgba(240, 128, 128, 1) 96%
  );
}

.log-in-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form-control {
  width: 250px;
  height: 30px;
  margin: 10px;
  border: none;
  border-radius: 5px;
  font-family: "Francois One", sans-serif;
  color: rgb(118, 118, 118);
  padding: 2px;
}

.sign-in-btn {
  border: 0.5px solid white;
  margin-top: 20px;
  font-size: 15px;
  background-color: #f9a03f;
  color: white;
}

.landing-container {
  display: flex;
  height: 95vh;
  flex-direction: column;
  /* justify-content: center; */
  /* margin-top: 15%; */
  align-items: center;
  align-content: space-between;
  padding: 50px 15px 0 15px;
  /* background-color: white; */
  background: rgb(249, 160, 63);
  background: radial-gradient(
    circle,
    rgba(249, 160, 63, 1) 2%,
    rgba(175, 193, 214, 1) 70%,
    rgba(255, 205, 173, 1) 96%
  );
  overflow: hidden;
}

.nav-bar {
  height: 70px;
  background-color: #f9a03f;
  width: 100%;
  align-self: flex-start;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.account-icon {
  margin-right: 5%;
}

.today-is {
  color: whitesmoke;
}

.goals-container,
.daily-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* border: 5px solid #f9a03f; */
  border: 2px solid white;
  height: 200px;
  width: 250px;
  margin: 15px;
  box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
  color: white;
  /* background-color: whitesmoke; */
}

.add-btn {
  background-color: white;
  border: none;
  font-size: 50px;
}

.reminders-container {
  background-color: whitesmoke;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 95vh;
  overflow: hidden;
}

.reminders-title {
  position: static;
}

.add-new-reminder {
  background-color: whitesmoke;
  border: none;
  font-size: 40px;
  color: #f9a03f;
}

.reminders-list {
  height: 80vh;
  overflow-y: auto;
  margin-bottom: 50px;
  /* background-color: white; */
  width: 100%;
}

.single-reminder {
  display: flex;
  margin-left: 50px;
  margin-right: 15px;
  align-items: center;
}

.completed-btn {
  background-color: whitesmoke;
  /* border: solid black 2px; */
  border: none;
  padding: 10px 30px 10px 30px;
  margin-bottom: 30px;
  box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
  width: 150px;
}

.delete-reminder {
  border: none;
  background-color: #f9a03f;
  position: absolute;
  right: 25px;
  justify-content: center;
}

.back-btn {
  background-color: #f9a03f;
  border: none;
  padding: 10px 30px 10px 30px;
  margin-bottom: 70px;
  box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
  width: 150px;
}

.show-new-reminder-container {
  background-color: whitesmoke;
  display: flex;
  flex-direction: column;
  height: 100px;
  width: 100vw;
  z-index: 1;
  margin-bottom: 50px;
  align-items: center;
}

.reminder-input {
  width: 90%;
  border: none;
  padding: 10px;
}

.create-reminder-btn {
  background-color: #f9a03f;
  border: none;
  padding: 10px 30px 10px 30px;
  margin-top: 20px;
  box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
  width: 150px;
}
